[submodule "BigInt/tomsfastmath"]
	path = BigInt/tomsfastmath
	url = github:libtom/tomsfastmath
[submodule "Windows/microui"]
	path = Windows/microui
	url = github:rxi/microui.git
[submodule "Windows/fenster"]
	path = Windows/fenster
	url = github:zserge/fenster.git
